<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
</head>
<body>
  <nav class="row">
    <a href="/"><img src="/assets/img/favicon.png" alt="Clipboard logo"></a>
    <a href="/logout">Log out</a>
    <a href="/profile">View profile</a>
  </nav>

  <section id="premium">
    
  </section>

  <div id="errorBox" class='hidden'>
    <h3><span class="center-text" id="errorMessage"></span></h3>
  </div>

  <section class="container">
    <div class="row">
      <div class="col-sm-1 col-md-2 col-lg-3"></div>
      <div class="col-sm center-text">
        <div id="ads" class="row"></div>
        <div id="makePost" class="row"></div>
        <div id="content" class="row"></div>
      </div>
      <div class="col-sm-1 col-md-2 col-lg-3"></div>
    </div>
  </section>

  <script src="/assets/appBundle.js"></script>
</body>
</html>
