<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Clipboard Social</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
</head>
<body> 
  <nav class="row">
    <a href="/"><img src="/hosted/img/favicon.png" alt="Clipboard logo"></a>
    <a id="loginButton" href="/login">Login</a>
    <a id="signupButton" href="/signup">Sign up</a>
  </nav>
  <section class="center-text">

    <h1>Welcome to<br>Clipboard Social<small>Social media that does not sell your data</small></h1>
  </section>

  <hr>
  
  <section class="container">
    <div class="row">
      <div class="col-sm-1 col-md-4"></div>
      <div class="col-sm-10 col-md-4" id="content"></div>
      <div class="col-sm-1 col-md-4"></div>
    </div>
  </section>

  <div id="errorBox" class='hidden'>
    <h3><span class="center-text" id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
