<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Profile</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
</head>
<body>
  <nav class="row">
    <a href="/"><img id="logo" src="/assets/img/clipboard.png" alt="Clipboard logo"></a>
    <a href="/logout">Log out</a>
    <a href="/main">Main page</a>
  </nav>

  <section id="accountInfo">

  </section>

  <hr>
  
  <div id="errorBox" class='hidden'>
    <h3><span class="center-text" id="errorMessage"></span></h3>
  </div>

  <div id="normalMessageBox" class='hidden'>
    <h3 class="center-text"><span id="normalMessage"></span></h3>
  </div>

  <section id="accountOptions row">
    <div class="col-sm">
      <h4 class="center-text"><strong>Account Options</strong></h4>
    </div>
    <div class="col-sm row">
      <div class="col-sm-0 col-lg-2"></div>
      <div id="passwordChange" class="col-sm"></div>
      <div id="premium" class="col-sm"></div>
      <div id="usernameChange" class="col-sm"></div>
      <div class="col-sm-0 col-lg-2"></div>
    </div>
  </section>

  <hr>

  <h4 class="center-text"><strong>Your Posts</strong></h4>
  <section class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div id="accountPosts" class="col-sm"></div>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
  </section>

  <script src="/assets/profileBundle.js"></script>
</body>
</html>
